@using ReportViewerForMvc;
@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reports</h2>

<h3> Search Terms</h3>
<div style="padding:10px; border:1px solid  thin; width:100%;height:130px" ng-app="theApp" ng-controller="reportController">
    <div class="col-xs-12">
        <div class="col-xs-1">
            <label class="control-label">Part #</label>
        </div>
        <div class="col-xs-3">
            <div class="form-group" ng-class="">

                <input class="form-control"
                       id="PartNumber"
                       placeholder="Enter Part Number" />
            </div>
        </div>

        <div class="col-xs-1">
            <label class="control-label">Make</label>
        </div>
        <div class="col-xs-3">
            <div class="form-group" ng-class="">

                <select id="Make"
                        class="form-control"
                        ng-init="addPartData.newMake = allCompanies[0]"
                        data-ng-options="r.companyName for r in allCompanies"
                        data-ng-model="addPartData.newMake"
                        placeholder="Select a Make"></select>
            </div>
        </div>

        <div class="col-xs-1">
            <label class="control-label">Model</label>
        </div>
        <div class="col-xs-3">
            <div class="form-group" ng-class="">

                <input class="form-control"
                       id="Model"
                       placeholder="Enter Model" />
            </div>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="col-xs-1">
            <label class="control-label">Sl Num Range</label>
        </div>
        <div class="col-xs-3">
            <div class="form-group" ng-class="">

                <input class="form-control"
                       id="SerialNumberRange"
                       placeholder="Enter Sl Num" />
            </div>
        </div>

        <div class="col-xs-1">
            <label class="control-label">Part Manual</label>
        </div>
        <div class="col-xs-3">
            <div class="form-group" ng-class="">

                <input class="form-control"
                       id="PartManual"
                       placeholder="Enter Manual" />
            </div>
        </div>

        <div class="col-xs-1">
            <label class="control-label">Description</label>
        </div>
        <div class="col-xs-3">
            <div class="form-group" ng-class="">

                <input class="form-control"
                       id="PartDescription"
                       placeholder="Enter a Description" />
            </div>
        </div>
    </div>

    <div class="pull-right">

        <button type="submit" class="btn btn-success"
                onclick="location.href='@Url.Action("GetPartsReport")?&Model=' + $('#Model').val()

                                                                      +'&PartNumber=' + document.getElementById('PartNumber').value
                                                                      + '&Make=' + $('#Make option:selected').text()
                                                                      + '&SerialNumberRange=' + $('#SerialNumberRange').val()
                                                                      + '&PartManual=' + $('#PartManual').val()
                                                                      + '&PartDescription=' + $('#PartDescription').val()">
            @* <span class="glyphicon glyphicon-duplicate"></span>*@
            <span ng-show="isSearchExecuting" class="fa fa-spinner fa-spin"></span>
            <span ng-show="!isSearchExecuting" class="glyphicon glyphicon-duplicate"></span>
            Generate Report
        </button>
    </div>
</div>
<br />
<br />

<div style="width: 1000px">
    @if (ViewBag.ReportViewer != null)
    {
        @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)

    }
    else if (ViewBag.MaxRecordExceed != null)
    {
        <div class="alert alert-danger">
            <strong>Warning :- </strong>
            @ViewBag.MaxRecordExceed
        </div>

    }
    else
    {
        if ((ViewBag.OnLoad != null && ViewBag.OnLoad != "OnLoad"))
        {
            <div>
                <img src="~/Content/Images/no-record-found.jpg" />
            </div>
        }

    }
</div>